.hack {
  font-family: Hack, monospace;
}

p.brand-shadow {
  /*text-shadow: -1px 1px #FEDA44;*/
}

img.brand-shadow {
  box-shadow: -8px 8px #feda44, -16px 16px #ff9911;
}

a.brand-shadow {
  box-shadow: -4px 4px #ff9911;
}

.orange-shadow {
  text-shadow: -1px 1px #ff9911;
}

.brand-yellow {
  color: #feda44;
}

.brand-orange {
  color: #ff9911;
}

.bg-brand-yellow {
  background-color: #feda44;
}

.bg-brand-orange {
  background-color: #ff9911;
}

.black-shadow {
  box-shadow: -8px 8px black;
}
