.hack {
  font-family: Hack, monospace;
}

p.brand-shadow {
  /*text-shadow: -1px 1px #FEDA44;*/
}

img.brand-shadow {
  box-shadow: -8px 8px #feda44, -16px 16px #ff9911;
}

.orange-shadow {
  text-shadow: -1px 1px #ff9911;
}

.brand-yellow {
  color: #feda44;
}

.brand-orange {
  color: #ff9911;
}

.bg-brand-yellow {
  background-color: #feda44;
}

.bg-brand-orange {
  background-color: #ff9911;
}

.black-shadow {
  box-shadow: -8px 8px black;
}

.blinking {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes 'blink' {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes 'blink' {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes 'blink' {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes 'blink' {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
